[main]
filenames=frames_blue.fits

[PacsObservation]
fine_sampling_factor=1
policy_bad_detector=mask
reject_bad_line=False
policy_inscan=keep
policy_turnaround=keep
policy_other=remove
policy_invalid=mask
active_fraction=0
delay=0.0

[scanline_masking]
n_repetition=0
n_scanline=1

[get_tod]
unit=Jy/detector
flatfielding=True
subtraction_mean=True
raw=False
masks=activated

[deglitching]
length=100
nsigma=25
method=mad

[filter_median]
length=1000

[Projection]
#resolution=3.2
#npixels_per_sample=6
oversampling=True
packed=False

[compression]
mode=averaging
factor=8

[hacg]
hyper=1.0
delta=1e-6
tol=1.e-5
maxiter=300
